.sub-user-comment-box-container {
  cursor: pointer;
  position: relative;
  padding: 12px 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
  margin: 0;
  text-align: left;
  text-transform: none;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
}

.news-feed-comment-user-avatar {
  border: none
}

.news-feed-comment-user-avatar-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  overflow: clip;
}

.parent-user-comment-modal-container {
  padding-right: 0;
  padding-left: 12px;
  display: inline-block;
  width: 100%;
}

.child-user-comment-modal-container {
  color: #000000;
  padding: 10px 12px 10px 20px;
  background-color: #f2f2f2;
  border-radius: 50px;
  min-height: 20px;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: text;
  width: calc(100% - 6%);
  border: none;
  outline: none;
  resize: none;
}

.grandchild-user-comment-modal-container {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ****************************** dropdown CSS ******************************************/

.news-feed-post-comment-composer-action-bar-container {
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  display: block;
}

.news-feed-post-comment-composer-action-bar-container-contents {
  animation: fadein 400ms;
  min-height: 32px;
  display: flex;
  flex-flow: row wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.news-feed-post-comment-add-photo-and-location-buttons-container {
  margin-bottom: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  display: block;
}

.news-feed-post-comment-add-photo-button-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  margin-top: 8px;
  margin-right: 8px;
  display: inline-flex;
  position: relative;
  z-index: 1;
}

.child-news-feed-post-comment-add-photo-button-container {
  float: unset;
  line-height: 36px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
}

.grandchild-news-feed-post-comment-add-photo-button-container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: block;
}
