.news-feed-navbar-container {
  max-width: 70%; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  display: flex; /* Use flexbox for positioning the child elements */
  justify-content: space-between; /* Space out the child elements */
  max-height: 53px;
}

.news-feed-nav-bar-logo {
  margin-right: 9px;
  width: 204px;
  color: #777;
  padding: 13px 12px 13px 6px;
  height: auto;
  font-size: 18px;
  line-height: 20px;
  float: left;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}

.logo img {
  display: block;
  height: 25px;
  max-width: unset;
  border: 0;
  box-sizing: border-box;
  overflow: clip;
}

.github-logo img {
  display: block;
  height: 25px;
  max-width: unset;
  border: 0;
  box-sizing: border-box;
  overflow: clip;
  margin-top: 70%;
}

.linkedin-logo img {
  display: block;
  height: 25px;
  max-width: unset;
  border: 0;
  box-sizing: border-box;
  overflow: clip;
  margin-top: 60%;
}

.news-feed-search-container {
  width: 560px;
  height: 36px;
  margin-left: 2px;
  margin-right: 16px;
  flex-grow: 1;
}

.news-feed-search-bar-form {
  box-sizing: border-box;
  display: block;
  margin-top: 0em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.news-feed-search-input-field {
  background: rgb(229, 229, 229);
  border: 2px solid transparent;
  border-radius: 18px;
  box-sizing: border-box;
  height: 100%;

  margin: 0px;
  padding: 6px 32px 6px 16px;
  position: absolute;
  top: 0px;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  transform: scale(1);
  transition: transform 5ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

.news-feed-search-input-field-container {
  border: none;
  box-sizing: border-box;
  height: 36px;

  left: 34%; /* controls the location of the search box otherwise it snaps to the left*/
  padding: 6px 32px 6px 6px;
  pointer-events: none;
  position: absolute;
  text-align: start;
  top: 10px;
  min-width: 30%;
  z-index: 1;
}

.news-feed-profile-dropdown{
  position: absolute;
  top: 40px; /* adjust the value as needed to position the menu below the button */
  left: 0;
  display: block;
  width: 200px; /* set the width of the menu */
  height: auto; /* set the height to auto to adjust to the content */
}


.nav-parent-news-feed-user-avatar:hover,
.nav-parent-news-feed-user-avatar:focus {
  cursor: pointer;
}

.nav-parent-news-feed-user-avatar {
  margin-top: 1%;
  margin-right: 1%;
}

.nav-news-feed-user-avatar {
  border: none
}

.nav-news-feed-user-avatar-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  overflow: clip;
}



/* Main section below the nav bar */


.news-feed-main-container {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding: 20 2%;
}

/* Control the size of the index */

.news-feed-index {
  height: 100vh;
  width: calc(20% - 20px);
  margin-bottom: 4%;
}

/* Control the size of the scroll */

.news-feed-scroll {
  height: 100vh;
  width: calc(55% - 20px);
  margin-bottom: 20px;
}

/* Control the size of the user content */

.news-feed-user-content {
  height: 100vh;
  width: calc(26% - 20px);
  margin-bottom: 20px;
}

/* Left Box ********************************************************************************/

.news-feed-index-list {
  height: calc(100vh - 204px);
  min-height: 460px;
  width: 240px;
  color: #000000;
}

.news-feed-index-list-item {
  margin-bottom: 4px;
  list-style-type: none;
  position: relative;
  display: list-item;
  color: #000000;
}

.news-feed-index-list-item-container {
  padding-right: 6px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #000000;
  height: 40px;
  margin-bottom: 16px;
  margin-left: 0px;
  border: 1px inset transparent;
  border-radius: 16px;
}

.news-feed-index-list-item-icon {
  height: 32px;
  width: 32px;
  margin-right: 0px;
  vertical-align: top;
  overflow: hidden;
  fill: none;
  color: #000000;
}

.news-feed-index-list-item-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 1px;
  margin-right: -1px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue-Medium, "Helvetica Neue Medium", Helvetica-Bold, Roboto-Medium, "Segoe UI Semibold", Arial-Bold, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: rgb(0, 0, 0);
  margin-left: 12px;
}

.news-feed-index-post-button-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  width: 200px;
  padding-top: 4px;
}

.news-feed-index-post-button {
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  appearance: none;
  border: 0.5px solid rgb(184, 236, 81);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  text-decoration: none;
  transition: background 50ms ease 0s, color 50ms ease 0s, border-color 50ms ease 0s;
  background-color: rgb(184, 236, 81);
  color: rgb(0, 97, 66);
  border-radius: 100vh;
  padding: 7px 8px;
  width: 100%;
  text-transform: none;
  overflow: visible;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
}

.news-feed-index-post-button-content {
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue-Medium, "Helvetica Neue Medium", Helvetica-Bold, Roboto-Medium, "Segoe UI Semibold", Arial-Bold, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-feed-index-post-button-symbol {
  overflow: hidden;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  display: inline;
  vertical-align: text-bottom;
  margin-left: -4px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  fill: none;
}

.news-feed-index-footer-menue-container {
  box-sizing: border-box;
  display: block;
  color: #000000;
}

.news-feed-index-footer {
  margin: 15px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.news-feed-index-footer-ul {
  display: flex;
  flex-wrap: wrap;
}

.news-feed-index-footer-li {
  color: #000000;
  display: inline;
  text-decoration: none;
  cursor: pointer;
}

.news-feed-footer-copyright {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6f7681;
  margin-top: 12px;
  box-sizing: border-box;
  display: block;
}


/* Middle Box ********************************************************************************/

.user-post-box-container {
  min-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: none;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.sub-user-post-box-container {
  cursor: pointer;
  position: relative;
  padding: 12px 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
  margin: 0;
  text-align: left;
  text-transform: none;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
}

.news-feed-user-avatar {
  border: none
}

.news-feed-user-avatar-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  overflow: clip;
}

.parent-user-post-modal-container {
  padding-right: 0;
  padding-left: 12px;
  display: inline-block;
  width: 100%;
}

.child-user-post-modal-container {
  color: #000000;
  padding: 10px 12px 10px 20px;
  background-color: #f2f2f2;
  border-radius: 50px;
  min-height: 20px;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: text;
  width: calc(100% - 6%);
  border: none;
  outline: none;
  resize: none;
}

.grandchild-user-post-modal-container {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.parent-news-feed-post-container {
  margin-top: 1.5%;
}

.news-feed-post-container {
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 480px) {
  .news-feed-post-container {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
      border-radius: 8px;
      margin-bottom: 8px;
      border: none;
  }
}

.news-feed-post-media-container {
  padding: 12px 16px 4px 0;
}

.parent-news-feed-post-user-info-container {
  padding-left: 16px
}

.child-news-feed-post-user-info-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
}

.grandchild-news-feed-post-user-info-container {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 490px;
  flex: 1;
}

.post-owner-avatar-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  position: static;
}

.post-news-feed-owner-avatar {
  border: none
}

.post-news-feed-owner-avatar-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  overflow: clip;
}

.news-feed-post-body {
  padding-left: 16px;
}

.news-feed-post-content {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  margin: 0 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.32px;
  -webkit-font-smoothing: antialiased;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.parent-news-feed-posts-stats-container {
  padding-left: 16px;
}

.child-news-feed-posts-stats-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #666666;
  position: relative;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  padding-top: 8px;
}

@media screen and (min-width: 768px) {
  .child-news-feed-posts-stats-container {
      padding-bottom: 2px;
  }
}

.grandchild-news-feed-posts-stats-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
}

@media screen and (min-width: 768px) {
  .parent-news-feed-posts-stats-count-container {
      margin-top: 0px;
      margin-bottom: 0px;
  }
}

.parent-news-feed-posts-stats-count-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.child-news-feed-posts-stats-count-container {
  float: right;
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.news-feed-live-post-stats-count {
  margin-bottom: 25%;
  margin-left: 2px;
    text-align: right;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    letter-spacing: -0.06px;
}

.news-feed-post-comment-like-share-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
}

.news-feed-post-like-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  margin-right: 0px
}

.news-feed-post-like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  backface-visibility: hidden;
  border: none;
  transition: all 100ms;
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--fg-secondary);
  background-color: transparent;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  margin: 0;
  text-rendering: auto;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .css-o9wm2k {
      width: 20px;
      height: 20px;
  }
}

.news-feed-post-like-icon {
  overflow: hidden;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  display: inline;
  color: rgb(0, 0, 0);
  fill: none;
}


.news-feed-post-like-button-title-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  margin-left: 4px;
}

.news-feed-post-like-button-title {
  vertical-align: middle;
  font-weight: 600;
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  color: rgb(0, 0, 0);
}













.post-stats-and-comments-seperator {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border-width: 1px 0px 0px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-color: initial;
  border-image: initial;
  border-top-style: solid;
  margin: 0px 12px;
  margin-block: 0px;
  color: rgb(229, 229, 229);
}

.sub-user-comment-box-container {
  cursor: pointer;
  position: relative;
  padding: 12px 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
  margin: 0;
  text-align: left;
  text-transform: none;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
}

.news-feed-comment-user-avatar {
  border: none
}

.news-feed-comment-user-avatar-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  overflow: clip;
}

.parent-user-comment-modal-container {
  padding-right: 0;
  padding-left: 12px;
  display: inline-block;
  width: 100%;
}

.child-user-comment-modal-container {
  color: #000000;
  padding: 10px 12px 10px 20px;
  background-color: #f2f2f2;
  border-radius: 50px;
  min-height: 20px;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: text;
  width: calc(100% - 6%);
  border: none;
  outline: none;
  resize: none;
}

.grandchild-user-comment-modal-container {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}










/* Right Box ********************************************************************************/

.parent-news-feed-create-event-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: none;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  width: 280px;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.child-news-feed-create-event-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  background-blend-mode: darken;
  object-fit: cover;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: url(https://d19rpgkrjeba2z.cloudfront.net/static/images/local_events/rhr_local_events_banner.png) center center / cover no-repeat, rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px;
}

.news-feed-create-event-container-title {
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Lato, "Lucida Grande", Tahoma, sans-serif;
  font-size: 34px;
  font-weight: 900;
  line-height: 40px;
  font-style: italic;
  color: rgb(255, 255, 255);
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  overflow-wrap: break-word;
  hyphens: auto;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.news-feed-create-event-container-button{
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  appearance: none;
  border: 0.5px solid rgb(184, 236, 81);
  cursor: pointer;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  text-decoration: none;
  transition: background 50ms ease 0s, color 50ms ease 0s, border-color 50ms ease 0s;
  background-color: rgb(184, 236, 81);
  color: rgb(0, 97, 66);
  border-radius: 8px;
  font-size: 15px;
  line-height: 20px;
  padding: 8px 16px;
  display: block;
  width: 90%;
  margin-top: 24px;
  margin-bottom: 24px;
  text-transform: none;
  overflow: visible;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
}

.parent-news-feed-create-business-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background-color: #ffffff;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: none;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

@media screen and (min-width: 480px){
  .parent-news-feed-create-business-container {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
      border-radius: 8px;
      margin-bottom: 8px;
      border: none;
  }
}

.parent-news-feed-create-business-img-box {
  padding-top: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #f9fff0;
  width: 100%;
}

.child-news-feed-create-business-img-box {
  background-color: #f9fff0;
  text-align: center;
}

.news-feed-create-business-img {
  width: 80%;
  vertical-align: middle;
  border: 0;
  overflow: clip;
}

.news-feed-create-business-title-container {
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.news-feed-create-business-title {
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue-Medium, "Helvetica Neue Medium", Helvetica-Bold, Roboto-Medium, "Segoe UI Semibold", Arial-Bold, sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.news-feed-create-business-description {
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 0px 16px;
  margin: 0 0 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.news-feed-create-business-button {
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  appearance: none;
  border: 0.5px solid rgb(184, 236, 81);
  cursor: pointer;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  text-decoration: none;
  transition: background 50ms ease 0s, color 50ms ease 0s, border-color 50ms ease 0s;
  background-color: rgb(184, 236, 81);
  color: rgb(0, 97, 66);
  font-size: 15px;
  line-height: 20px;
  padding: 8px 16px;
  display: block;
  width: 100%;
  border-radius: 100px;
  text-transform: none;
  overflow: visible;
  margin: 0;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
}

.parent-news-feed-neighbors-reccomendations-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  margin-top: 20px;
  width: 280px;
}

.child-news-feed-neighbors-reccomendations-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: none;
}

.grandchild-news-feed-neighbors-reccomendations-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  padding-left: 6px;
  padding-top: 18px;
  padding-bottom: 12px;
}

.news-feed-neighbors-reccomendations-title-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-right: 3%;
  margin-bottom: 10px;
}

.news-feed-neighbors-reccomendations-title {
  box-sizing: border-box;
  margin-block: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Lato, "Lucida Grande", Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 28px;
  font-style: italic;
  margin-left: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
