/* .profile-dropdown {
    position: absolute;
} */

.splash-page-default-style {
    color: #000000;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
